<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text</title>
</head>
<body>
    <form action="{{ url_for('predictlanguage') }}" method="post">
        <label for="text">Enter your text</label>
        <input type="text" name="text" id="text_input"> <br>
        <input type="submit" value="Detect Language", id="input-btn">
    </form>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
